body {
    width: 100%;
    height: 100%;
}

form {
    padding: 0 2rem;
}

#container {
    padding: 20px 0;
    min-height: 500px;
}

div.search input {
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 5px;
    font-size: 2rem;
}

div.row.flex {
    display: flex;
    flex-wrap: wrap;
}

div.row.flex > div.col {
    display: flex;
}

div.row.flex div.col div.card {
    width: 100%;
}

div.clickable {
    cursor: pointer;
}

div.article {
    padding: 1rem;
}

span.checkbox {
    margin-right: 1rem;
}

span.checkbox label {
    padding-left: 25px;
}

div.products div.item span {
    font-size: 0.9rem; 
    line-height: 1rem !important;
}

div.empty-card, div.load-more {
    display: none;
}

div.empty-card div.row {
    padding: 4rem 2rem !important;
}

.small-text {
    font-size: 0.75rem;
}

h3 {
    font-size: 2rem;
}

div.mask {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.9;
    display: none;
    z-index: 999;
}

div.mask div.valign-wrapper {
    height: 100%;
}

div.mask div.preloader-wrapper {
    margin: 0 auto;
}

div.item.card.hoverable {
    width: 100%;
}