<div class="row">
    <div class="col s12 m10 offset-m1 l8 offset-l2">
        <!--         
        <div class="row white z-depth-1">
            <div class="col s12 m10 l8 search">
                <input id="search-input" type="text" placeholder="Enter phrase for search">
            </div>
        </div> 
        -->
        <div id="items" class="articles row flex">
        </div>
        <div class="row empty-card">
            <div class="valign-wrapper z-depth-0 grey lighten-4 notfound col s12">
                <div class="row center-align">
                    <span class="valign grey-text">Нам жаль, но статей пока нет :(</span>
                </div>
            </div>
        </div>
        <div class="row load-more">
            <div class="col s12 m6 offset-m3">
                <button class="waves-effect waves-light btn" style="width: 100%;">
                    Загрузить еще
                </button>
            </div>
        </div>
        <div class="row loader">
            <div class="col s12 center-align">
                <div class="preloader-wrapper small active">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
