<div class="col s12 m6">
    <div class="item card hoverable clickable forward-url" data-url="a/<%= model.get('id') + '/' + model.get('title') %>">
        <div class="card-content black-text">
            <h6><b><%= model.get('title') %></b></h6>
            <p>
                <%= model.get('promo') %>
            </p>
        </div>
    </div>
</div>