<div class="row">
    <div class="col s12 offset-m1 m10 offset-l2 l8">
        <div class="article card article z-depth-1">
            <div class="card-content">
                <h1><%= model.get('title') %></h1>
                <%= model.get('html') %>
            </div>
        </div>
        <div class="row loader">
            <div class="col s12 center-align">
                <div class="preloader-wrapper small active">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
