<% var colorClass = ''; %>
<% if (model.isApproved()) colorClass = 'teal lighten-5'; %>
<% if (model.isRejected()) colorClass = 'red lighten-5'; %>
<div class="col s12 m6 l6">
    <div class="item card hoverable clickable <%= colorClass %>">
        <div class="mask white valign loader">
             <div class="valign-wrapper">
                <div class="preloader-wrapper small active">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-content activator">
           	<h6 class="grey-text">
                <%= model.get('displayName') %> - <%= model.get('productName') %>
            </h6>
	        <p class="activator">
                <b class="activator">Достоинства: </b><%= _.property('pros')(model.get('opinion')) %>
            </p>
	        <p class="activator">
                <b class="activator">Недостатки: </b><%= _.property('cons')(model.get('opinion')) %>
            </p>
            <p class="activator">
                <b class="activator">Комментарий: </b><%= _.property('total')(model.get('opinion')) %>
            </p>
	        <p class="small-text grey-text activator">
                <b class="activator">Рекомендует купить: </b><%= _.property('worthBuy')(model.get('opinion')) ? 'Да' : 'Нет' %>
            </p>
            <p class="small-text grey-text activator">
                <b class="activator">Опыт использования: </b><%= model.get('usageTime') %> дн.
            </p>

	        <% for (var j = 0; j < +_.property('rating')(model.get('opinion')); ++j) { %>
	        <i class="tiny material-icons" style="color: #f9a825;">stars</i>
	        <% } %>
        </div>
        <div class="card-reveal deactivator <%= colorClass %>" style="cursor: pointer;">
            <span class="card-title grey-text" style="font-size: 1rem;">Действия<i class="material-icons right">close</i></span>
            <button class="waves-effect waves-light btn-flat teal lighten-1 tooltipped approve" data-position="bottom" data-delay="50" data-tooltip="Принять отзыв">
                <i class="material-icons white-text">done</i>
            </button>
            <button class="waves-effect waves-light btn-flat red lighten-1 tooltipped reject" data-position="bottom" data-delay="50" data-tooltip="Отклонить отзыв">
                <i class="material-icons white-text">delete</i>
            </button>
        </div>
    </div>
</div>
