<div class="col s12 m6">
    <div class="item card hoverable clickable" data-url="emails/<%= model.get('id') %>">
        <div class="card-content black-text">
        	<% if (model.get('wasSent')) { %>
        		<i class="small material-icons right" class="cyan">done</i>
        	<% } %>
            <h6><b><%= model.get('subject') %></b></h6>
            <p><%= model.get('reciever') %></p>
            <p class="small-text grey-text activator">
	            <% if (model.get('wasSent')) { %>
		            Мы уже отправили это письмо  
	            <% } else { %>
	            	Мы отправим это письмо  
	            <% } %>
	            <% 
					var time = new Date(model.get('sendAt') * 1000);
					var options = {
					    year: "numeric", month: "numeric",
					    day: "numeric", hour: "numeric", minute: "2-digit"
					};
					;
				%>
            	<b><%= time.toLocaleDateString("ru-ru", options) %></b>
	        </p>
        </div>
    </div>
</div>
