<div class="row center">
    <h3>Вход в аккаунт</h3>
</div>
<div class="error center" style="display: none;">
    <span class="red-text">Неправильный e-mail и/или пароль</span>
</div>
<form>
    <div class="row">
        <div class="input-field col s12">
            <i class="prefix"></i>
            <input type="email" id="email" class="validate">
            <label for="email" data-error="Неверный&nbspадрес" autocomplete="on">Email адрес</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <i class="prefix"></i>
            <label for="password">Пароль</label>
            <input type="password" id="password" autocomplete="on">
        </div>
    </div>
    <div class="row login">
        <div class="input-field col s12 center">
            <button class="btn waves-effect waves-light"><i class="material-icons left">lock_open</i>Войти</button>
        </div>
    </div>
</form>
<div class="row loader" style="display: none;">
    <div class="col s12 center-align">
        <div class="preloader-wrapper small active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <div style="margin: 0 3rem;">
            <a href="#restore">Забыли пароль?</a>
            <br>
            <a href="#signup">Еще нет аккаунта? Регистрируйтесь прямо сейчас!</a>
            <br>
        </div>
    </div>
</div>
