<div id="restore-form">
    <div class="row center">
        <h3>Восстановление пароля</h3>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <i class="prefix"></i>
            <input type="email" id="email" class="validate">
            <label for="email" data-error="Неверный&nbspадрес">Email адрес</label>
        </div>
    </div>
    <div class="row restore">
        <div class="input-field col s12 center">
            <button class="btn waves-effect waves-light"><i class="material-icons left">lock_open</i>Восстановить</button>
        </div>
    </div>
    <div class="row loader" style="display: none;">
        <div class="col s12 center-align">
            <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div style="margin: 0 3rem;">
                <a href="#login">Вспомнили пароль?</a>
            </div>
        </div>
    </div>
</div>
<div id="restore-check-email" style="display: none;">
    <div class="row center">
        <h3>Отлично!</h3>
    </div>
    <div class="row center-align" style="padding: 0 2rem;">
        <p>Мы отправили дальнейшие инструкции по восстановлению пароля на указанные адрес. Пожалуйста, проверьте свою почту.</p>
    </div>
    <div class="row">
        <div class="input-field col s12 center">
            <a href="#login" class="btn waves-effect waves-light"><i class="material-icons left">lock_open</i>Вход в аккаунт</a>
        </div>
    </div>
</div>
