<div class="row">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="row">
<!--             <div class="col s12" style="padding: 0;">
                <ul class="tabs">
                    <li class="tab col s6">
                        <a class="active" href="#settings-general">
                            <i class="material-icons">lock_outline</i>
                        </a>
                    </li>
                </ul>
            </div> -->
            <div id="settings-general" class="col s12 z-depth-1 white" style="margin-top: 10px;">
                <div class="row valign-wrapper" style="border-bottom: 4px solid #f6b2b5;">
                    <img src="img/user.png" width="64" alt="" style="padding: 15px 10px 15px 0;">
                    <h5 class="valign"><span>Общие настройки</span></h5>
                </div>
                <div class="row">
                    <form class="col s12" method="POST">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="text" value="<%= model.get('email') %>" disabled>
                                <label for="email">Email адрес</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="url" name="url" type="text" value="<%= model.get('url') %>" disabled>
                                <label for="url">URL адрес магазина</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="name" name="name" type="text" value="<%= model.get('name') %>">
                                <label for="name">Название магазина</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="passwordOld" name="passwordOld" type="password">
                                <label for="passwordOld">Старый пароль</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" name="password" type="password">
                                <label for="password">Новый пароль</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="passwordConfirmation" name="passwordConfirmation" type="password">
                                <label for="passwordConfirmation">Подтверждение нового пароля</label>
                            </div>
                        </div>
                        <div class="error center" style="display: none;">
                            <span class="red-text">Wrong email or password</span>
                        </div>
                        <div class="row save">
                            <div class="input-field col s12 center">
                                <button class="btn waves-effect waves-light"><i class="material-icons left">lock</i>Сохранить</button>
                            </div>
                        </div>
                        <div class="row loader" style="display: none; padding-top: 9px;">
                            <div class="col s12 center-align">
                                <div class="preloader-wrapper small active">
                                    <div class="spinner-layer spinner-blue-only">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="gap-patch">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>